{% extends "layout.html.twig" %}

{% block content %}
  <form action="{{ path(update_resource_path, {id: entity.id}) }}" method="put" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
      <legend>Edit</legend>
    {% include 'resource/form.html.twig' %}
    </fieldset>
  </form>
{% endblock %}